<main>
  <h3>Destaques</h3>
  <p>Frete grátis e chinelo de brinde é aqui, aproveite por tempo limitado. </p>
  <div class="tennis-showcase">
    <app-tennis-square [imageSrc]="'../../assets/tennis1.png'"></app-tennis-square>
    <app-tennis-square [imageSrc]="'../../assets/tennis2.png'"></app-tennis-square>
    <app-tennis-square [imageSrc]="'../../assets/tennis3.png'"></app-tennis-square>
    <app-tennis-square [imageSrc]="'../../assets/tennis4.png'"></app-tennis-square>
    <app-tennis-square [imageSrc]="'../../assets/tennis5.png'"></app-tennis-square>
    <app-tennis-square [imageSrc]="'../../assets/tennis6.png'"></app-tennis-square>
    <app-tennis-square [imageSrc]="'../../assets/tennis7.png'"></app-tennis-square>
    <app-tennis-square [imageSrc]="'../../assets/tennis8.png'"></app-tennis-square>
  </div>
</main>
