.tennis-square {
  background-color: #EBE9EA;
  width: 25.938rem;
  height: 18.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.25rem;

  img {
    width: 50%;
  }
}
